body{
    margin: auto;
    padding: auto;
    background: #F3F5FC;
}

.contenedor{
    margin: auto;
    width: 1000px;
    height: 950px;
    padding: 5px;
}

.logo{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.logoImg{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}

.izq{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}

.texto-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

.der{
    float: right;

    width: 300px;
    height: 85%;
    top:1px;


    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imgDer{
    margin-left: 2%;
    margin-top: 70%;
    width: 90%;
    height: auto;
}

#texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-left: 32px;
    margin-right: 32px;
    text-align: center;
    color: #343A40;
}

#texto3{
    margin-top:30px;
    float: left;
    margin-left: 10%;
    color: #495057;
    width: 80%;
    height: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    text-align: center;
}

#texto2{
    margin-top:30px;
    float: left;
    margin-left: 10%;
    color: #495057;
    width: 80%;
    height: 25%;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 24px;
    display: none;
}


#copiar{
    margin-left: 8.5%;
    margin-top: 239%;
    padding: 24px;
    width: 250px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    display: none;
}

.btm-derecho{
    float: left;
    width: 60%;
    height: auto;
    border-radius: 24px;
}

.advertencia{
    float: left;
    width:15px;
    margin-top:12.9px;
}

.anuncio{
    margin-left:3%;
    font-family: 'Inter';
    font-style: normal;
    line-height:150%;
    font-weight: 510;
    font-size: 12px;
}

#btm-encriptar{
    position: absolute;
    padding: 24px;
    width: 305px;
    height: 67px;
    border-radius: 24px;
    margin-left: auto;
    background: #0A3871;
    color: white;
    border: none;
}

#btm-desencriptar{
    position: absolute;
    padding: 24px;
    width: 305px;
    height: 67px;
    border-radius: 24px;
    margin-left: 340px;
    border: 1px solid #0A3871;
    background: #D8DFE8;
}